@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #ffa6f0;
    font-family: 'Pacifico', cursive;
    flex-direction: column;
    overflow: hidden;
    position: relative;
}
@keyframes falling-hearts {
    0% { transform: translateY(-100vh) rotate(0deg); opacity: 0; }
    100% { transform: translateY(100vh) rotate(360deg); opacity: 1; }
}

.heart-emoji {
    position: absolute;
    font-size: 30px;
    opacity: 0.9;
    animation: falling-hearts 7s linear infinite;
    filter: drop-shadow(0px 0px 10px rgba(255, 0, 0, 0.8));
    z-index: -1;
}

.gif_container img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-top: 20px;
}


.container {
    text-align: center;
}

h1 {
    font-size: 2.5em;
    color: #ff0000;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.buttons {
    margin-top: 20px;
}

/* Tombol Love */
.love-button {
    font-size: 1.5em;
    padding: 15px 25px;
    margin-top: 20px;
    background: linear-gradient(45deg, #ff71ec, #ff71ec);
    color: #ff0000;
    border: #ffffff;
    border-radius: 100px;
    cursor: pointer;
    transition: 0.3s ease;
    box-shadow: 0px 0px 15px rgba(255, 64, 129, 0.5);
    outline: none;
}

/* Efek hover */
.love-button:hover {
    background: linear-gradient(45deg, #ff82ee, #fd2ee1);
    color: #000000;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.8);
    transform: scale(1.1);
}

/* Animasi klik */
.love-button:active {
    transform: scale(0.9);
}

.gif_container img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-top: 20px;
}

@keyframes falling-hearts {
    0% { transform: translateY(-100vh) rotate(0deg); opacity: 0; }
    100% { transform: translateY(100vh) rotate(360deg); opacity: 1; }
}

.heart-emoji {
    position: absolute;
    font-size: 30px;
    opacity: 0.9;
    animation: falling-hearts 7s linear infinite;
    filter: drop-shadow(0px 0px 10px rgba(255, 0, 0, 0.8));
    z-index: -1;
}

.gif_container img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-top: 20px;
}
